/*====================================*/
/* src and App, other standardized CSS */
/*====================================*/

body {
  background-color: #333333;
  color: white;
  font-family: sans-serif;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.App { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


a {
  color: #cccccc;
  text-decoration: none;
}

button {
  font-size: 16px;
  font-weight: bold;
  border: 3px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #dddddd;
  color: black;
}

.page {
  margin: 0;
  padding: 20px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.pageText {
  background-color: #401111;
  border: 3px solid #aaaaaa;
  border-radius: 10px;
  margin: 20px 0;
  padding: 0 15px;
}

.error {
  color: red;
  font-size: 20px;
}

footer {
  width: 100vw;
  height: 100px;
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=================================*/
/* Home folder  */
/*=================================*/

.navBar {
  width: 100%;      
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navBar h1 {
  font-size: 30px;
}

.navTitle {
  display: flex;
  flex-direction: row;
  justify-self: space-between;
}

.navButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navButton {
  border-radius: 10px;
  padding: 0 15px;
  color: #cccccc;
  background-color: #111111;
  font-size: 16px;
}

.navButton:hover {
  border-color: white;
  background-color: #555555;
  color: white;
}

.introduction {
  font-size: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeBtn {
  margin: 20px;
}

/*=================================*/
/* Users Folder  */
/*=================================*/


.usersForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.usersForm input {
  height: 30px;
  font-size: 20px;
  margin: 10px;
}

.usersForm button {
  margin: 10px;
}


.showUserAll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showUsers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userData {
  margin: 10px;
}

.showUserAll button {
  margin: 30px;
}



/*=================================*/
/* Users Folder : filter and kata thumbnails */
/*=================================*/

.showKatas {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.kataThumb {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  min-height: 80px;

  background-image: linear-gradient(#884444, #221144);
  border: 3px solid #aa9900;
  border-radius: 10px;
  margin: 10px;

  font-size: 13px;
  font-weight: thin;

  overflow: hidden;
}


.showKataFilter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.showKataFilter input {
  font-size: 18px;
  height: 24px;
  margin: 10px 0 30px 0;
}

.showKataFilter h3 {
  margin: 30px 0 5px 0;
}

.showKataFilter h5 {
  margin: 10px 0 5px 0;
}


.filterLangs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.langOn, .langOff {
  background-color: lightgrey;
  border: 3px solid grey;
  border-radius: 5px;
  margin: 10px 5px 10px 5px; 
}

.langOff {
  background-color: darkred;
  border: 3px dashed red;
}


.kataThumb p {
  margin: 10px;
}

.kataThumb:hover {
  background-image: linear-gradient(#88aaaa, #223344);
  color: orange;
  font-weight: bold;
  overflow: visible;
}

.knightIcon {
  margin: 30px;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}

.swordIcon {
  border: 5px solid #995555;
  border-radius: 20px;
  overflow: hidden;
  min-height: 200px;
}

/*=================================*/
/* Media Queries  */
/*=================================*/

@media (max-width: 600px) {
  .optional {
    display: none;
  }

  .navButtons {
    flex-direction: column;
  }

  .navButton {
    background-color: #555555;
    font-size: 12px;
    border: 1px solid #dddddd;
    border-radius: 0;
    padding: 0px 10px;
    margin: 0 10px;
    width: 300px;
    align-self: flex-start;
  }
}

@media (min-width: 600px) {
  .navBar h1 {
    font-size: 50px;
  }

  .showUserAll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .userData {
    background-image: linear-gradient(#444444, #222222);
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 5px 25px;
    margin: 20px 40px;
    min-width: 200px;
  }

  .showKatas {
    justify-content: flex-start;
  }



  
}